
module.exports = {
  google: {
    clientID: '5750225804-isbafg4dvm16b1fb6clsrupom7kn6ofv.apps.googleusercontent.com',
    clientSecret: 'HNH_rKewjuaVYuDDSLx2W10v',
  },
  frontendHost: 'http://www.dakth.info',
  secret: '@iluminati@',
  session: {
    cookieKey: 'dakaplaza'
  },
  page: 1,
  size: 10,
  query: '',
  sortQuery: 'createdAt DESC',
  sizeOfTags: 10,
};
